.forecast{

    font-size: 1.0em;
}

{
    
box-sizing: border-box:

}

li:hover{
background-color: aqua;

}

h3{
    font-weight: bolder;

}

span{
font-size: 3em;

}

body{
font-size: 16px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}