span.moderate{
    padding: 3px;
    background-color: rgb(209, 209, 62);
}

span.severe{
    padding: 3px;
    background-color: rgb(158, 69, 69);
    color:white;
}

span.favorable{
    padding: 3px;
    background-color: rgb(54, 130, 54);
    color:white;
}

.list-group-item{
    line-height: 1.0;
    border: none;
}

.search-column{
    background-color:	#a3a1a1;
}

.card-body{
    flex:auto
}